.container {
    width: 80mm;
    margin: 0 auto;
}

.header {
    margin: 0;
    text-align: center;
}

h2,
p {
    margin: 0;
}

.flex-container-1 {
    display: flex;
    margin-top: 10px;
}

.flex-container-1 > div {
    text-align: left;
}

.flex-container-1 .right {
    text-align: right;
    width: 200px;
}

.flex-container-1 .left {
    width: 100px;
}

.flex-container {
    width: 300px;
    display: flex;
}

.flex-container > div {
    -ms-flex: 1;
    /* IE 10 */
    flex: 1;
}

ul {
    display: contents;
}

ul li {
    display: block;
}

hr {
    border-style: dashed;
}

a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    background: #00e676;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
